<div id="pages-home">
  <div class='hero' style='background-image: url(<%= image_url(@productivity_image) %>)'>
  	<h1> 
      <%= @slogan %>
    </h1>
  	<div class='links'>
  		
  	</div>
  </div>
</div>