// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#pages-home {
  .hero {
		width: 100%; 
    position:relative;
    background-size:cover;
		background-position:top center;
		margin-top: -10px; 
    min-height:calc(100vh - 74px);
  }
}